<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexaoBDLoja"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LOJA;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>